<table border='1' class="mdl-data-table">
  <tr>
    <th>entity</th><th>attribute</th><th>value</th>
  </tr>

<% @data.each do |datum| %>
  <tr>
    <td><%= datum.ent %></td>
    <td><%= datum.att %></td>
    <td><%= datum.val %></td>
  </tr>
<% end %>
</table>
