<h3>意味ネットワーク</h3>
<div id="semnet"></div>
<script type="text/javascript">
// create an array with nodes
var nodes = [];
for ( var i in gon.node ) {
  nodes.push({id: (gon.node[i]), label: (gon.node[i])});
}
// create an array with edges
var edges = [];
for (var ent in gon.triad) {
  for ( var val in gon.triad[ent] ) {
    edges.push({from: ent, to: val, label: gon.triad[ent][val]});
  }
}

// create a network
var container = document.getElementById('semnet');
var data = {
  nodes: nodes,
  edges: edges
};
var options = {
nodes: { shape: 'box', color: '#FCF8E3', font: { size: 25} },
edges: { arrows: 'to', font: { size: 16, align: 'top' } }
};
var network = new vis.Network(container, data, options);
</script>
