<div class="container">
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">LTW</div>
      <div class="panel-body">
        <span class="label label-default">アルカリ金属</span>
        <span class="label label-default">Li</span>
        <span class="label label-default">Na</span>
        <span class="label label-default">K</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="youtube-container">
        <iframe id="player" type="text/html" width="640" height="390"
          src="https://www.youtube.com/embed/MdQGUFSM8w4"
          frameborder="0">
        </iframe>
      </div>
    </div>
    <div class="col-md-5">
      <br><br>
      <pre class="console">
        <div class="string">
出力例:
00:00 ～～～
01:23 ～～～
        </div>
      </pre>
    </div>
  </div>
</div>

<style type="text/css">
.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.YouTube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100?;
  height: 100%;
}
</style>
