// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video {
  position: relative;
  //top: 60px;
  //left: 500px;
}

#video > * {
  position: absolute;
  //top: 0;
  //left: 0;
  //transform: RotateY(180deg);
}

#pos {
  //color: white;
  //position: absolute;
  position: relative;
  //top: 60px;
  //left: 500px;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px; height: 0; overflow: hidden;
}

.YouTube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
