// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#semnet {
  width:  800px;
  height: 600px;
  border: 1px solid lightgrey;
}
